@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;515;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');
/******keyboard*******/

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Play', sans-serif;
  color: #fff;
  overflow: hidden !important;

}

* {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}

.main-section {
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(to left, #8942a8, #ba382f); */
  background: #000;
  overflow: hidden !important;
}

/* Type */

.type-area {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 100%;
  width: 100%;
  padding: 23rem 3rem 0;
  z-index: 0;
  text-align: center;
}

.type-area h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin: 0.4rem;
}

.type-area h1 {
  font-size: 3.5rem;
}

.type-area h2 {
  font-size: 2.5rem;
  /* color: #aaa; */
  color: #74e3f2;
  opacity: 0.9;
}

/* Cursor */

.txt-type>.txt {
  border-right: 0.2rem solid #777;
}

/* Type_end */

.animation-area {
  z-index: 000;
}

.box-area {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 10s linear infinite;
  bottom: -150px;
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 5s;
}

.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 7s;
}

.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-900px) rotate(360deg);
  }
}

.game-mode {
  display: block;
  height: 100vh;
  width: 100%;
  padding-top: 45vh;
  text-align: center;
}

.play button {
  cursor: pointer;
  outline: none;
  border: none;
  color: #333;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0);
  font-weight: 600;
  border-radius: 70px;
  transition: 0.4s;
  z-index: 2;
  box-shadow: 0px -1px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.play button:hover {
  color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.03), 0 10px 10px rgba(0, 0, 0, 0.3);
  transform: inherit scale(1.05);
}

.play button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  border-radius: inherit;
}

.start-game button::before {
  transform: scaleX(1);
}

.game-mode button::before {
  transform-origin: 0 0;
  transform: scaleY(1);
}

.start-game button:hover::before {
  transform: scaleX(0);
}

.game-mode button:hover::before {
  transform: scaleY(0);
}

.start-game button {
  padding: 0.2rem 2.5rem;
  font-size: 2.5rem;
  margin: 38vh 0 0 50%;
  transform: translate(-50%, -50%);
}

.game-mode button {
  font-size: 2rem;
  padding: 0.4rem 2.5rem;
  transform: translateY(-50%);
  margin: 0 1.2rem;
}

.bollywood-title {
  text-align: center;
  padding-top: 7rem;
}

.bollywood-title h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.9);
}

.displayMovie {
  padding: 4.5rem 0 5rem;
}

.displayMovie h2 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.7rem;
}

.keyboard {
  list-style-type: none;
  border-radius: 5px;
  padding: 0;
  width: 100%;
  /* height: 50%; */
}

.keyboard li {
  font-weight: 500;
  display: inline;
  float: left;
  line-height: 50px;
  /* padding: 0.9rem 1.5rem; */
  margin: 0.3rem 0.6rem 0.6rem 0.2rem;
  background-color: #eee;
  /* background: rgba(114, 157, 244, 0.9); */
  /* background: #74e3f2; */
  color: #000;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  font-size: 1rem;
  user-select: none;
  /* width: 5.75%; */
  transition: background-color 100ms;
}

.keyboard li button {
  outline: none;
  border: none;
  border-radius: inherit;
  background: transparent;
  /* width: 100%; */
  padding: 0.3rem 1.6rem;
  cursor: pointer;
  transition: 0.5s;
  color: inherit;
}

.keyboard li button:hover {
  background-color: #bbb;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.03), 0 10px 10px rgba(0, 0, 0, 0.03);
}

#gameLost button {
  margin: 2rem 0;
}

#gameWon button {
  margin: 1rem 0 0;
}

#gameLost h1, h3 {
  font-family: 'Raleway', sans-serif;
}

#gameWon h1 {
  font-family: 'Raleway', sans-serif;
}

.game-result {
  padding-top: 36vh;
}

#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #74e3f2; */
  background: #000;
  z-index: 999999;
}
 
  :root{
    --color-light: #74e3f2;
    --color-medium: #68CCD9;
    --color-dark: #5CB5C1;
    --color-darkest: #519EA9;
    --animation-speed: 8s;
    --animation-loop: infinite;
  }
  
  *{
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html{
    height: 100vh;
    width: 100vw;
  }
  
  body{
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
  }
  
  @keyframes loader {
    0%{
      background: var(--color-dark);
      width:0%;
    }20%{
      width:100%;
    }39%{
      background: var(--color-dark);
    }40%{
      background: var(--color-light);
      width: 0%
    }60%{
      width: 100%;
    }80%{
      width:0%;
    }100%{
      background: var(--color-light);
      width: 0%;
    }
  }
  
  @keyframes loaderAlt {
    0%{
      background: var(--color-darkest);
      width:100%;
    }19%{
      background: var(--color-darkest);
    }20%{
      background: var(--color-medium);
      width: 0%;
    }40%{
      width: 100%;
    }59%{
      background: var(--color-medium);
    }60%{
      background: var(--color-darkest);
      width: 0;
    }80%{
      width: 100%;
    }100%{
      background: var(--color-darkest);
      width: 100%
    }
  }
  
  .loader{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }
  
  .loader__bar{
    display: flex;
    flex: 1;
    position: relative;
    width: 100%;
  }
  
  .loader__bar:before{
    animation: loader ease var(--animation-speed) var(--animation-loop);
    animation-delay: 100ms;
    background: var(--color-darkest);
    background-size: 200% 200%;
    content: "";
    height:100%;
    width: 0%;
  }
  
  .loader__bar:after{
    animation: loaderAlt ease var(--animation-speed) var(--animation-loop);
    animation-delay: 100ms;
    background: var(--color-darkest);
    background-size: 200% 200%;
    content: "";
    height: 100%;
    width: 100%;
  }
  
  .loader__bar--delay-1:before,
  .loader__bar--delay-1:after{
    animation-delay: 200ms;
  }
  
  .loader__bar--delay-2:before,
  .loader__bar--delay-2:after{
    animation-delay: 300ms;
  }
  
  .loader__bar--delay-3:before,
  .loader__bar--delay-3:after{
    animation-delay: 400ms;
  }
  
  .loader__bar--delay-4:before,
  .loader__bar--delay-4:after{
    animation-delay: 500ms;
  }
  
  .loader__bar--delay-5:before,
  .loader__bar--delay-5:after{
    animation-delay: 600ms;
  }

  /* #bg-timer{
    z-index: -100;
    position: absolute;
    width: 1%;
      height: 100vh;
      background-color: #4CAF50;
  } */

  /* SideBar */

  #sidebar-wrapper{
    z-index:1;
    position: absolute;
    width:0;
    height:100%;
    overflow-y:hidden;
    background: #caf0f8;
    opacity:0.9;
    transition:all .5s;
    display:flex;
  }
  
  /* Main Content */
  #page-content-wrapper{
    width: 100%;	
    position: absolute;
    padding:15px;
    transition:all .5s;
  }
  
  #menu-toggle{
    transition:all .3s;
    font-size:2em;
  }
  /* Change the width of the sidebar to display it*/
  #side-wrapper.menuDisplayed #sidebar-wrapper{
    width:250px;
  }
  
  #side-wrapper.menuDisplayed #page-content-wrapper{
    padding-left:250px;
  }
  
  /* Sidebar styling */
  .sidebar-nav{
    padding:0;
    list-style:none; 
    transition:all .5s;
    width:100%;
    text-align:center;
  }
  
  .sidebar-nav li{
    line-height:40px;  
    width:100%;
    transition:all .3s;
    padding:10px;
  }
  
  .sidebar-nav li a {
    display:block;
    text-decoration:none;
    color:#000;
  }
  
  .sidebar-nav li:hover{
    background:#001524;
  }

  .sidebar-nav h4:hover{
    color:#fff;
  }

  /* Leaderboard */

  *, *:before, *:after {
    /* box-sizing: inherit; */
  }
  
  #leaderboard {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
  
  h1, h2 {
    font-size: 1.5em;
  }
  
  h2.sub.header {
    font-size: 1em;
  }
  
  .row {
    margin-bottom: 40px;
    justify-content: center;
  }
  
  .card {
    font-family: 'Lato', sans-serif;
    flex-direction: row;
    font-weight: 300;
    box-sizing: border-box;
    display: flex;
    background: #fff;
    min-width: 50%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15), 0 55px 50px -20px rgba(34, 36, 38, 0.25);
  }
  
  .card-section {
    flex-grow: 1;
    padding: 40px;
  }
  
  .card-info {
    position: relative;
    background: linear-gradient(to bottom, #626d82 0%, #343d4d 100%);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
  }
  
  .card-info h2.sub.header {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .card-info .menu, .card-info .search {
    position: absolute;
    font-size: 3em;
    left: 40px;
  }
  
  .card-info .menu {
    top: 40px;
  }
  
  .card-info .search {
    bottom: 40px;
  }
  
  .card-details {
    position: relative;
    color: rgba(0, 0, 0, 0.6);
    width: 50%;
  }
  
  .avatar {
    display: inline-block;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_LEI9ra1lw8k2rXaqxMsg8OIh6qwC_B_2Ow&usqp=CAU");
    background-size: cover;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    border: 3px solid #e45b6c;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  }
  
  .dial {
    color: #e45b6c;
    text-shadow: inset 1px 1px 0 white;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 150px;
    margin: 50px 0;
    padding: 40px;
    box-shadow: 0 4px 15px -10px rgba(0, 0, 0, 0.1), 0 5px 15px 1px rgba(0, 0, 0, 0.18), 0 0 0 15px #fff, 0 0 0 22px #e45b6c, 0 55px 50px -20px rgba(34, 36, 38, 0.25);
  }
  
  .dial-title {
    font-size: 3.8em;
    font-weight: 400;
    line-height: .8;
  }
  
  .dial-value {
    font-size: 1.8em;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .menu-item {
    font-size: 1.6em;
    font-weight: 400;
    padding: 20px 40px;
    color: rgba(0, 0, 0, 0.3);
    /* min-width: 50%; */
  }
  
  .menu-item:not(:last-child) {
    box-shadow: 25px 0px 0 -24px rgba(0, 0, 0, 0.2);
  }
  
  .menu-item:last-child {
    text-align: right;
  }
  
  .menu-item-active {
    color: tint(#e45b6c, 20%);
  }
  
  .statistics {
    display: flex;
    justify-content: center;
  }
  
  .statistics .statistic {
    padding: 0px 20px;
    min-width: 120px;
  }
  
  .statistics .statistic:not(:last-child) {
    box-shadow: 20px 0px 0px -19px rgba(255, 255, 255, 0.2);
  }
  
  .statistics .statistic-title {
    font-size: 1.5em;
  }
  
  .statistics .statistic-value {
    color: #e45b6c;
    font-size: 2em;
  }
  
  .progress {
    display: flex;
    background: rgba(0, 0, 0, 0.1);
    min-height: 12px;
    overflow: hidden;
  }
  
  .progress-bar {
    background: tint(#e45b6c, 20%);
    min-height: 10px;
  }
  
  .leaderboard {
    height: 100%;
    counter-reset: leaderboard-counter;
  }
  
  .leaderboard dt {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
  }
  
  .leaderboard dt:before {
    content: counter(leaderboard-counter);
    counter-increment: leaderboard-counter;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.3em;
    line-height: .8;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
  }
  
  .leaderboard dd {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
  }
  
  .leaderboard-value {
    font-weight: 700;
  }

  /* Bullet Points */

  ul {
    list-style: none;
    padding-left: 1em;
  }
  
  li.trophy:before {
    content: '';
    display: inline-block;
    height: 2em;
    width: 2em;
    background-image: url(http://placehold.it/32?text=fallback);
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Circle-icons-trophy.svg/200px-Circle-icons-trophy.svg.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
  }

  li.home:before {
    content: '';
    display: inline-block;
    height: 2em;
    width: 2em;
    background-image: url(http://placehold.it/32?text=fallback);
    background-image: url(https://icons.iconarchive.com/icons/fps.hu/free-christmas-flat-circle/512/home-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
  }

  /* Hamburger Icon */

  
  
  