{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Custom CSS-->
    <link rel="stylesheet" type="text/css" href={% static 'game/css/style.css' %}> 

    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <title>Bollywood</title>
  </head>

<body>            

    <section class="main-section">
        {% comment %} Type {% endcomment %}
        <div class="type-area" id="typeWriter">
            <h1>
            <span id="spantypeWriter" class="txt-type" data-wait="3000" data-words='["One Stop destination for movie lovers", "Guess the guess out of movie name"]'></span>
            </h1>
            <h2>Welcome To BTown!</h2>
        </div>
        {% comment %} Type_end {% endcomment %}

        <div class="animation-area">
            <ul class="box-area">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div class="container" id="displaySection">
            {% comment %} Dynamic Injection {% endcomment %}
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script rel="stylesheet" type="text/javascript">
            console.log("{{ random_movie }}");
            var movieFromBackend = "{{ random_movie }}";
    </script>
    <script rel="stylesheet" type="text/javascript" src={% static 'game/js/script.js' %}> </script>  
</body>
</html>
