{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Custom CSS-->
    <link rel="stylesheet" type="text/css" href={% static 'game/css/style.css' %}> 


    <title>Bollywood</title>
  </head>

<body>
    <section>
        <div class="container">
            <div class="bollywood-title">
                <h1>BOLLYWOOD</h1>
            </div>
            <div class="displayMovie">
                <h2 id="displayQuestion"></h2>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div id="virtualkeyboard">
                    <div class="panel-body">
                        <ul class="keyboard">         
                            {% for button in upper_layer %}
                            <li class="char"><button onclick="testFunction('{{ button }}')">{{ button }}</button></li>
                            {% endfor %}

                            {% for button in middle_layer %}
                            <li class="char"><button onclick="testFunction('{{ button }}')">{{ button }}</button></li>
                            {% endfor %}

                            {% for button in bottom_layer %}
                            <li class="char"><button onclick="testFunction('{{ button }}')">{{ button }}</button></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script rel="stylesheet" type="text/javascript" src={% static 'game/js/script.js' %}> </script>

</body>
</html>