{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <!-- Custom CSS-->
    <link rel="stylesheet" type="text/css" href={% static 'game/css/style.css' %}> 

    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <title>Bollywood</title>
  </head>

<body>
    <div id="fill-timer">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" style="display: none;">
        <symbol id="wave">
          <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z"></path>
          <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"></path>
          <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"></path>
          <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"></path>
        </symbol>
      </svg>
      <div class="box">
        <div class="percent">
          <div class="percentNum" id="countTime">0</div>
          <div class="percentB">%</div>
        </div>
        <div id="water" class="water">
          <svg viewBox="0 0 560 20" class="water_wave water_wave_back">
            <use xlink:href="#wave"></use>
          </svg>
          <svg viewBox="0 0 560 20" class="water_wave water_wave_front">
            <use xlink:href="#wave"></use>
          </svg>
        </div>
      </div>
    </div>
    	<!--CSS Spinner-->
    <div id="wrapper">
        <div class="loader">
            <div class="loader__bar"></div>
            <div class="loader__bar loader__bar--delay-1"></div>
            <div class="loader__bar loader__bar--delay-2"></div>
            <div class="loader__bar loader__bar--delay-3"></div>
            <div class="loader__bar loader__bar--delay-4"></div>
            <div class="loader__bar loader__bar--delay-5"></div>
        </div>
	</div>
    <!--  -->
    <!-- <div id="bg-timer"></div> -->

    <section class="main-section">
        {% comment %} Type {% endcomment %}
        {% comment %} Type_end {% endcomment %}
        <div class="animation-area">
            <ul class="box-area">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div id="endless-next">
            <button>CLick Me</button>
        </div>
        

      <svg style="display:none;">
        <defs>
      
          <g id="home">
            <path fill="#90A4AE" d="M42,48H6c-3.3,0-6-2.7-6-6V6c0-3.3,2.7-6,6-6h36c3.3,0,6,2.7,6,6v36C48,45.3,45.3,48,42,48z"/>
            <path fill="#212121" d="M20.8,35.5v-9.6h6.4v9.6h8V22.7H40L24,8.3L8,22.7h4.8v12.8H20.8z"/>
          </g>
      
          <g id="search">
            <path fill="#90A4AE" d="M22.9,20.1h-1.5l-0.5-0.5c1.8-2.1,2.9-4.8,2.9-7.7C23.8,5.3,18.5,0,11.9,0S0,5.3,0,11.9s5.3,11.9,11.9,11.9
            c3,0,5.7-1.1,7.7-2.9l0.5,0.5v1.4l9.1,9.1l2.7-2.7L22.9,20.1z M11.9,20.1c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2
            S16.4,20.1,11.9,20.1z"/>
          </g>
      
          <g id="map">
            <path fill="#90A4AE" d="M16,14.2c-1,0-1.8,0.8-1.8,1.8s0.8,1.8,1.8,1.8c1,0,1.8-0.8,1.8-1.8S17,14.2,16,14.2z M16,0
            C7.2,0,0,7.2,0,16c0,8.8,7.2,16,16,16s16-7.2,16-16C32,7.2,24.8,0,16,0z M19.5,19.5L6.4,25.6l6.1-13.1l13.1-6.1L19.5,19.5z"/>
          </g>
      
          <g id="planner">
            <path fill="#90A4AE" d="M28.4,3.6h-1.8V0h-3.6v3.6H8.9V0H5.3v3.6H3.6C1.6,3.6,0,5.1,0,7.1L0,32c0,2,1.6,3.6,3.6,3.6h24.9c2,0,3.6-1.6,3.6-3.6V7.1C32,5.1,30.4,3.6,28.4,3.6z M28.4,32H3.6V12.4h24.9V32z M7.1,16H16v8.9H7.1V16z"/>
          </g>
      
        </defs>
      </svg>
    
  
      <nav class="nav__cont">
        <ul class="nav">
          <li class="nav__items ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
              <use xlink:href="#home"></use>
            </svg>
            <a onclick="showHome()">Home</a>
          </li>
          
          <li class="nav__items ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
              <use xlink:href="#search"></use>
            </svg>
            <a onclick="showLeaderboard()">Leaderboard</a>
          </li>
              
        </ul>
      </nav>
    
      
      <div class="side-wrapper">
        <main>   
         
            <div class="type-area" id="typeWriter">
              <h1>
              <span id="spantypeWriter" class="txt-type" data-wait="3000" data-words='["One Stop Destination For Movie Lovers", "Guess The Guess Out Of Movie Name"]'></span>
              </h1>
              <h2>Welcome To BTown!</h2>
            </div>
  
            <div class="container" id="displaySection">
              {% comment %} Dynamic Injection {% endcomment %}
            </div>

          

        </main>
      </div>
    
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script rel="stylesheet" type="text/javascript">
            console.log("{{ random_movie }}");
            var movieFromBackend = "{{ random_movie }}";
    </script>


      <script>
        $(function () {
          let bodyElement = $(`body`);
          $('#wrapper').fadeOut(2500, function () {
            $('#wrapper').remove();
          });
        });
       </script>
    
    <script rel="stylesheet" type="text/javascript" src={% static 'game/js/script.js' %}> </script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</body>
</html>
